$backgroundcolorcontainers: #0aa7a7;

// .body {
//   width: 100%;
// }
// .html {
//   width: 100%;
// }
:root {
  width: 100%;
  background: radial-gradient(#7cf886, #000000);
}

* {
  margin-left: 5px;
  margin-right: 10px;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: "Cinzel", serif;
}

#root {
  color: #60ef21;
  box-sizing: border-box;
}

.allpage {
  max-width: 100vw;
}
.col2 {
  width: 100%;
}
.image_title {
  background-position: center;
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-right: 5px;
}
// BOTONES
.select__filter {
  font-size: 12px;
  width: 200px;
  font-weight: 800;
  height: 30px;
  cursor: pointer;
  border-radius: 7px;
  background-color: #b1db9f;
}

.select__filter:hover {
  cursor: pointer;
}

.search__character {
  border: 2px $backgroundcolorcontainers solid;
  height: 30px;
  width: 200px;
  font-size: 12px;
  font-weight: 800;
  background-color: #b1db9f;
  border-radius: 9px;
}

// Tarjetas pantalla landing
.container__card {
  display: flex;
  flex-direction: column;
  background-color: $backgroundcolorcontainers;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 18px;
  align-items: center;
  align-content: center;
  box-shadow: 6px 5px 8px rgba(141, 207, 115, 0.8),
    0px 5px 25px rgba(141, 207, 115, 0.8);
  border-radius: 8px;

  .card__name {
    background-color: $backgroundcolorcontainers;
    font-size: 20px;
    font-weight: 800;
  }
  .card__species {
    background-color: $backgroundcolorcontainers;
    font-weight: 300;
    font-size: 18px;
  }
}

.container__card:hover {
  transform: scale(1.1);
}

// Tarjeta detalle
.container__details {
  display: flex;
  background-color: $backgroundcolorcontainers;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 18px;
  justify-content: center;
  box-shadow: 6px 5px 8px rgba(141, 207, 114, 0.8),
    0px 5px 25px rgba(141, 207, 115, 0.8);
  border-radius: 8px;
  .container__button-one {
    background-color: $backgroundcolorcontainers;
  }
  .container__button {
    background-color: $backgroundcolorcontainers;
  }
  .button-goback {
    width: 10px;
  }
  .button-details {
    background-color: $backgroundcolorcontainers;
    width: 50px;
  }
  .button__details {
    background-color: $backgroundcolorcontainers;
  }
  .card__name {
    background-color: $backgroundcolorcontainers;
  }
  .card__details {
    background-color: $backgroundcolorcontainers;
  }
  .container__text--detail {
    display: flex;
    flex-direction: column;
    background-color: $backgroundcolorcontainers;
  }
}

// cons landing
#icon-detail-landing {
  font-size: 25px;
  background-color: $backgroundcolorcontainers;
  margin-bottom: 0px;
  margin-top: 0px;
}

// Icons detail
#icon-detail {
  font-size: 20px;
  background-color: $backgroundcolorcontainers;
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer {
  margin-top: 35px;
}
// Icons Footer
#icon-legend {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media all and (max-width: 1200px) {
  * {
    margin-left: 2px;
  }
  .image_title {
    width: 1000px;
  }
  .body {
    width: 1150px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer {
    width: 1200px;
  }
}
@media all and (max-width: 768px) {
  * {
    margin-left: 2px;
  }
  .image_title {
    width: 760px;
  }
  .body {
    width: 768px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer {
    width: 750px;
  }
}

@media all and (max-width: 360px) {
  * {
    margin-left: 5px;
  }

  .body {
    width: 360px;
    margin-right: 0px;
    margin-left: 1px;
  }

  .image_title {
    width: 320px;
  }
  .card__img {
    width: 200px;
    height: 200px;
    align-items: center;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .container__details {
    width: 240px;
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 320px;
  }
  .html {
    width: 320px;
  }
}
